-# coding: utf-8
!!! XML
!!! Strict
%html
  %head= partial 'layouts/head', :locals => {:page_title =>  current_page.data['title']}

  %body
    = partial 'layouts/floating_menu'

    - # -- Page Contents
    .pusher
      .ui.inverted.vertical.masthead.center.aligned.segment
        .ui.container
          = partial 'layouts/menu'

      .ui.basic.segment
        .ui.text.container
          %h1 About me

      = yield_content :body


      = partial :"layouts/footer"
